body {
    background-color: brown;
    color: white;
}


.container > div {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.current-tweet {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    color: #000;
    padding: 10px;
}
